includes:
	- bin/baseline.neon
parameters:
	level: 1
	paths:
		- .
	excludePaths:
		- node_modules (?)
		- assets
		- vendor
		- docs
		- lang
		- wordpress (?)
		- includes/forms/WC_Order.php
	bootstrapFiles:
		- vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
		- bin/phpstan-bootstrap.php